.nav-item{
    font-family: $font-roboto;
    font-size: 16px;
    font-weight: $Roboto-regular;
}

h1{
    font-family: $font-playfair;
    font-weight: $Playfair-bold;
    font-size: 70px;
    letter-spacing: 3px;
}