//colores

$eerie-black: #121619;
$color-blog: #DE8684;
$Raisin-black-trans: #00222323;
$Raisin-black: #222323;
$white: #ffffff;
$Rudy-pink: #d76c69;
$platinum: #e6e7e7;
$nickel: #6c6e70;


//tipografia

$font-roboto: "Roboto", sans-serif;
$Roboto-regular: 400;
$Roboto-light: 300;

$font-playfair: 'Playfair Display', serif;
$Playfair-regular: 400;
$Playfair-black: 900;
$playfair-italic: italic;



